/*-------------------------------------------------*\
    BRAND-SPECIFIC VARIABLES

    Use this file to declare any brand-specific
    variables.
\*-------------------------------------------------*/

// Colors
$primary: #191941;
$primary--light: #191941;
// $secondary: #003C60;
$secondary: #75B0DD;
$secondary--dark: #75B0DD;
$secondary--light: #191941;
$panel-bg-image-text-color: #fff;

// Site head
$brand-height: 23px;
$brand-bar-background-color: #ffffff;
$nav-text-color: #fff;

// Buttons
$btn-border-radius: 8px;

// Forms
$form-control-dark-background-color: #000;
