.avatar__empty {
    height: 100px;
    width: 100px;
    border-radius: 100%;
    background-color: purple;
    display: flex;
    color: #fff;
    align-items: center;
    justify-content: center;
    font-size: 40px;
}
