.btn {
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.30);
    font-weight: $font-weight-bold;

    // box-shadow: 0 2px 4px 0 rgba(0,0,0,0.30);


    @include font-size(12px, true);

    &-white {
        color: $secondary--light;
        background: $white;

        @include hover() {
            color: $secondary;
            background: darken($white, 2%);
        }
    }

    &-black {
        color: $white;
        background: $black;

        @include hover() {
            color: $white;
            background: darken($grey-2, 5%);
        }
    }

    &-grey {
        color: $white;
        background: $grey-4;

        @include hover() {
            background: darken($grey-4, 5%);
            color: $white;
        }
    }

    &--has-icon {
        padding: calc(0.8rem - 4px) 0.75rem;
    }

    .icon {
        width: 26px;
        height: 26px;
        fill: $white;
        margin-right: 10px;
    }

    .auth__form & {
        box-shadow: none;
    }

    &:focus {
        box-shadow: none;
    }
}