.form-control {
    border: 1px solid #efefef;
    box-shadow: inset 0 0 2px 2px #f9f9f9;

    &[readonly] {
        background-color: $white;
    }

    &::placeholder {
        color: $grey-2;
    }

    .auth__form & {
        border: 0;
        border-radius: 50px;
        background: rgba($form-control-dark-background-color, 0.5);
        text-align: center;
        color: $white;
        font-weight: bold;
        backface-visibility: hidden;
        box-shadow: none;
        transition: background 200ms ease;

        @include font-size(14px);
        @include placeholder(rgba($white, 0.7));

        &:focus {
            background: rgba($form-control-dark-background-color, 0.7);
        }
    }
}
