{% extends "layout/base.html" %}

{% block content %}

<div class="[ container-fluid ] [ pt-4 ]">

    <div class="page-header">
        <h1 class="[ heading--1 heading--color-secondary ] [ text-center ] [ mb-4 ]">
            All notes
        </h1>
        <div class="page-header__buttons">
            <button type="button" class="page-header__button">
                <span class="sr-only">Open filter options</span>
                {% include "svg/filter.svg" %}
            </button>
        </div>
    </div>

    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active" href="#" aria-selected="true">Unread</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#" aria-selected="false">Read</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#" aria-selected="false">With comments</a>
        </li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane fade show active">

            {% include "partials/recent-update-item.html" %}
            {% include "partials/recent-update-item.html" %}
            {% include "partials/recent-update-item.html" %}
            {% include "partials/recent-update-item.html" %}
            {% include "partials/recent-update-item.html" %}
            {% include "partials/recent-update-item.html" %}
            {% include "partials/recent-update-item.html" %}

        </div>
    </div>
</div>

{% endblock %}