<h1>Available templates</h1>

<ul>
    <li>
        <a href="home.html">Home</a>
    </li>
    <li>
        <a href="horses.html">Horses</a>
    </li>
    <li>
        <a href="horse-profile.html">Horse profile</a>
    </li>
    <li>
        <a href="all-notes.html">All notes</a>
    </li>
    <li>
        <a href="horse-notes.html">Horse notes</a>
    </li>
    <li>
        <a href="single-note.html">Single note</a>
    </li>
    <li>
        <a href="horse-media.html">Horse media</a>
    </li>
    <li>
        <a href="profile.html">Profile</a>
    </li>
    <li>
        <a href="add-new-note.html">Add new note</a>
    </li>
    <li>
        <a href="login.html">Login</a>
    </li>
    <li>
        <a href="password-reset.html">Password reset</a>
    </li>
</ul>