{% extends "layout/auth-base.html" %}

{% block content %}

<div class="auth">

    <div class="auth__container">

        <img class="auth__brand-image" src="/assets/images/brand-logo-white.svg" alt="Al Shaqab">

        <form class="auth__form" action="/" method="POST">
            <div class="form-group">
                <input class="form-control" type="email" name="" value="" placeholder="Email address">
            </div>
            <button type="submit" class="btn btn-primary btn-block">Send password link</button>
            <a class="auth__footer-link" href="/login.html">Back to login</a>
        </form>
    </div>

</div>

{% endblock %}