.items-list {
    &__item {
        & + & {
            border-top: 1px solid $grey-4;
            padding: $spacer 0;
        }

        &:first-child {
            padding-bottom: $spacer;
        }

        &--boxed {
        	background: $white;
        	padding: $spacer;
        }
    }
}
