.site-head {
    $self: &;

    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    transition: transform 0.25s ease-in-out;

    &.is-top {
        transform: translateY(0);
    }

    &.is-pinned {
        transform: translateY(-#{$brand-height + ($brand-bar-padding * 2)});
    }

    &.is-unpinned {
        transform: translateY(
            -#{$brand-height + ($brand-bar-padding * 2) + $site-head-height + 2px}
        );
    }

    &__hamburger {
        // display: none;

        // @include media-breakpoint-up(md) {
            display: block;
        // }
    }

    &__nav-mobile {
        height: 100%;
        align-items: center;

        @include media-breakpoint-down(sm) {
            justify-content: space-between;
            align-items: center;
            width: 80%;
        }
    }

    &__brand-bar {
        height: 40px;
        padding: $brand-bar-padding 0;
        text-align: center;
        background: $brand-bar-background-color;
        border-bottom: 1px solid $grey-6;
    }

    &__brand-logo {
        height: $brand-height;
        width: auto;
    }

    &__main {
        position: relative;
        height: $site-head-height;
        background: $primary;
    }

    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;
        max-width: $site-max-width;
        height: 100%;
        padding-right: ($grid-gutter-width / 2);
        padding-left: ($grid-gutter-width / 2);
    }

    &__search-button {       
        padding-top: 8px;

        @include media-breakpoint-up(md) {
            margin-left: 30px;
        }

        .icon {
            @extend %transition;

            width: 27px;
            height: 27px;
            fill: $white;
        }

        @include hover() {
            .icon {
                transform: scale(1.1);
            }
        }

        @include media-breakpoint-down(xs) {
            width: 60px;
            justify-content: flex-end;
            align-items: flex-end;
            display: flex;
        }
    }

    &__notes-container {
        display: flex;
        align-items: center;
    }

    &__avatar {
        position: relative;
        width: 35px;
        height: 35px;
        border-radius: 50%;
        background: $secondary;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        box-shadow: 0 2px 34px 0 rgba($black, 0.1);
        flex-shrink: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        color: $white;
        font-weight: bold;
        @include font-size(16px);
        // font-family: open-sans;

        &-border {
            position: relative;
            width: 45px;
            height: 45px;
            border-radius: 50%;
            background: transparent;
            box-shadow: 0 2px 34px 0 rgba($black, 0.1);
            flex-shrink: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            color: $white;
            font-weight: bold;
            margin-right: 15px;

            border: 2px solid $secondary;
        }

        &-button {
            display: flex;
            margin-left: 30px;

            &:hover {
                text-decoration: none;
            }
        }

        &-text {
            color: $white;
            // font-family: open-sans;
            margin-top: 10px;
        }
    }

    &__comments {
        display: flex;
        align-items: center;
        margin-top: -10px;
        padding-top: 4px;
        width: 40px;

        @include hover() {
            text-decoration: none;
        }

        @include media-breakpoint-down(xs) {
            justify-content: center;
        }
    }

    &__notes {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 90px;
        padding-top: 0px;

        @include media-breakpoint-up(sm) {
            width: 110px;

            .site-head__nav-item-icon {
                margin-right: 23px;
            }
        }

        &:hover .site-head__nav-item-badge {
            background: lighten($notification-notes-color, 5%);
        }
    }

    &__comments-badge {
        @extend %transition;

        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 32px;
        height: 26px;
        background: $notification-comments-color;
        color: $notification-comments-text-color;
        font-weight: $font-weight-bold;
        border-radius: 5px 5px 5px 0;

        @include font-size(13px, true, 1);

        #{ $self }__comments:active &,
        #{ $self }__comments:hover &,
        #{ $self }__comments:focus & {
            background: lighten($notification-comments-color, 5%);
        }

        &:after {
            @extend %transition;

            content: "";
            position: absolute;
            top: 100%;
            left: 0;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 7px 7px 0 0;
            border-color: $notification-comments-color transparent transparent;

            #{ $self }__comments:active &,
            #{ $self }__comments:hover &,
            #{ $self }__comments:focus & {
                border-color: lighten($notification-comments-color, 5%)
                    transparent transparent;
            }
        }

        &--allread {
            background: $grey-4;

            #{ $self }__comments:active &,
            #{ $self }__comments:hover &,
            #{ $self }__comments:focus & {
                background: lighten($grey-4, 5%);
            }

            &:after {
                @extend %transition;

                content: "";
                position: absolute;
                top: 100%;
                left: 0;
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 7px 7px 0 0;
                border-color: $grey-4 transparent transparent;

                #{ $self }__comments:active &,
                #{ $self }__comments:hover &,
                #{ $self }__comments:focus & {
                    border-color: lighten($grey-4, 5%)
                        transparent transparent;
                }
            }
        }
    }

    &__comments-label {
        margin-left: 8px;
        color: $nav-text-color;
        font-weight: $font-weight-bold;

        @include font-size(11px, true, 1);
    }

    &__nav {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        height: 100%;
    }

    &__nav-items {
        padding-left: 0;
        list-style: none;
        display: flex;
        justify-content: center;
        height: 100%;
    }

    &__nav-item {
        height: 100%;
        & + & {
            border-left: 1px solid $grey-6;

            @include media-breakpoint-up(md) {
                border-left: 0;
            }
        }
    }

    &__nav-link {
        // @extend %transition;

        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 80px;
        opacity: 0.9;

        @include media-breakpoint-down(xs) {
            border-left: 0;
            width: 60px;
        }

        @include hover() {
            opacity: 1;
        }

        #{ $self }__nav-item.is-active & {
            opacity: 1;
        }
    }

    &__nav-item-badge {
        @extend %transition;
        position: absolute;
        top: -2px;
        right: -18px;
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: 26px;
        height: 22px;
        padding: 0 4px;
        background: $notification-notes-color;
        color: $notification-notes-text-color;
        border-radius: 5px;
        font-weight: $font-weight-bold;
        // has z-index

        @include font-size(13px, true, 1);

        &--allread {
            background: $grey-4;
        }

        &--entry {
            background: #009AE7;
            top: 5px;
        }
    }

    &__nav-item-icon {
        position: relative;
        // margin-bottom: 5px;

        .icon {
            width: 31px;
            height: 42px;
            fill: $white;
        }
    }

    &__nav-item-badge + .icon {
        width: 25px;
        height: 25px;
        margin-top: 3px;
    }

    &__nav-item-label {
        color: $nav-text-color;
        font-weight: $font-weight-bold;

        @include font-size(11px, true, 1);

        @include media-breakpoint-down(xs) {
            display: none;
        }
    }
}
