<ul class="[ comments ] [ mb-3 ]">
    <li class="comments__comment comments__comment--unread">
        <div class="comments__comment-inner">
            <div class="comments__avatar" style="background-image: url('https://source.unsplash.com/DYBs6Usgtg0/300x300');" aria-hidden="true" role="presentation"></div>
            <div class="comments__comment-panel">
                <div class="comments__comment-header">
                    <div class="comments__comment-heading">
                        Name Surname commented 2 hours ago
                    </div>
                    <div class="comments__comment-buttons">
                        <a class="comments__comment-button" href="">
                            {% include "svg/reply.svg" %}
                            <span class="sr-only">
                                Reply
                            </span>
                        </a>
                        <div class="dropdown dropleft">
                            <button type="button" class="comments__comment-button comments__comment-button--dropdown" id="panel-dropdown-1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                {% include "svg/dropdown-dots.svg" %}
                            </button>
                            <div class="dropdown-menu" aria-labelledby="panel-dropdown-1">
                                <a class="dropdown-item" href="#">
                                    {% include "svg/email-open.svg" %}
                                    Mark as read
                                </a>
                                <a class="dropdown-item" href="#">
                                    {% include "svg/reply.svg" %}
                                    Reply
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="[ comments__comment-body ] [ text--para-font ]">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sed diam eget risus varius blandit sit amet non magna.
                </div>
            </div>
        </div>
    </li>
    <li class="comments__comment comments__comment--read">
        <div class="comments__comment-inner">
            <div class="comments__avatar" style="background-image: url('https://source.unsplash.com/DYBs6Usgtg0/300x300');" aria-hidden="true" role="presentation"></div>
            <div class="comments__comment-panel">
                <div class="comments__comment-header">
                    <div class="comments__comment-heading">
                        Name Surname commented 2 hours ago
                    </div>
                    <div class="comments__comment-buttons">
                        <a class="comments__comment-button" href="">
                            {% include "svg/reply.svg" %}
                            <span class="sr-only">
                                Reply
                            </span>
                        </a>
                        <div class="dropdown dropleft">
                            <button type="button" class="comments__comment-button comments__comment-button--dropdown" id="panel-dropdown-1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                {% include "svg/dropdown-dots.svg" %}
                            </button>
                            <div class="dropdown-menu" aria-labelledby="panel-dropdown-1">
                                <a class="dropdown-item" href="#">
                                    {% include "svg/email-open.svg" %}
                                    Mark as read
                                </a>
                                <a class="dropdown-item" href="#">
                                    {% include "svg/reply.svg" %}
                                    Reply
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="[ comments__comment-body ] [ text--para-font ]">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sed diam eget risus varius blandit sit amet non magna.
                </div>
            </div>
        </div>
        <ul class="comments">
            <li class="comments__comment comments__comment--read">
                <div class="comments__comment-inner">
                    <div class="comments__avatar" style="background-image: url('https://source.unsplash.com/DYBs6Usgtg0/300x300');" aria-hidden="true" role="presentation"></div>
                    <div class="comments__comment-panel">
                        <div class="comments__comment-header">
                            <div class="comments__comment-heading">
                                Name Surname commented 2 hours ago
                            </div>
                            <div class="comments__comment-buttons">
                                <div class="dropdown dropleft">
                                    <button type="button" class="comments__comment-button comments__comment-button--dropdown" id="panel-dropdown-1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        {% include "svg/dropdown-dots.svg" %}
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="panel-dropdown-1">
                                        <a class="dropdown-item" href="#">
                                            {% include "svg/email-open.svg" %}
                                            Mark as read
                                        </a>
                                        <a class="dropdown-item" href="#">
                                            {% include "svg/reply.svg" %}
                                            Reply
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="[ comments__comment-body ] [ text--para-font ]">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sed diam eget risus varius blandit sit amet non magna.
                        </div>
                    </div>
                </div>
            </li>
            <li class="comments__comment comments__comment--unread">
                <div class="comments__comment-inner">
                    <div class="comments__avatar" style="background-image: url('https://source.unsplash.com/DYBs6Usgtg0/300x300');" aria-hidden="true" role="presentation"></div>
                    <div class="comments__comment-panel">
                        <div class="comments__comment-header">
                            <div class="comments__comment-heading">
                                Name Surname commented 2 hours ago
                            </div>
                            <div class="comments__comment-buttons">
                                <div class="dropdown dropleft">
                                    <button type="button" class="comments__comment-button comments__comment-button--dropdown" id="panel-dropdown-1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        {% include "svg/dropdown-dots.svg" %}
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="panel-dropdown-1">
                                        <a class="dropdown-item" href="#">
                                            {% include "svg/email-open.svg" %}
                                            Mark as read
                                        </a>
                                        <a class="dropdown-item" href="#">
                                            {% include "svg/reply.svg" %}
                                            Reply
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="[ comments__comment-body ] [ text--para-font ]">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sed diam eget risus varius blandit sit amet non magna.
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </li>
    <li class="comments__comment comments__comment--unread">
        <div class="comments__comment-inner">
            <div class="comments__avatar" style="background-image: url('https://source.unsplash.com/DYBs6Usgtg0/300x300');" aria-hidden="true" role="presentation"></div>
            <div class="comments__comment-panel">
                <div class="comments__comment-header">
                    <div class="comments__comment-heading">
                        Name Surname commented 2 hours ago
                    </div>
                    <div class="comments__comment-buttons">
                        <a class="comments__comment-button" href="">
                            {% include "svg/reply.svg" %}
                            <span class="sr-only">
                                Reply
                            </span>
                        </a>
                        <div class="dropdown dropleft">
                            <button type="button" class="comments__comment-button comments__comment-button--dropdown" id="panel-dropdown-1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                {% include "svg/dropdown-dots.svg" %}
                            </button>
                            <div class="dropdown-menu" aria-labelledby="panel-dropdown-1">
                                <a class="dropdown-item" href="#">
                                    {% include "svg/email-open.svg" %}
                                    Mark as read
                                </a>
                                <a class="dropdown-item" href="#">
                                    {% include "svg/reply.svg" %}
                                    Reply
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="[ comments__comment-body ] [ text--para-font ]">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sed diam eget risus varius blandit sit amet non magna.
                </div>
                <div class="[ grid--1 grid--md-2 ] [ mt-3 ]">
                    <div>
                        <a class="media-item" href="">
                            <div class="media-item__decor" aria-hidden="true" role="presentation">
                                <img class="media-item__image" src="https://source.unsplash.com/aR3u_uvg0BQ/400x279" alt="">
                            </div>
                            <div class="media-item__main">
                                <div class="media-item__filename">HorseFileName.png</div>
                                <p class="media-item__meta">271.3KB</p>
                            </div>
                        </a>
                    </div>
                    <div>
                        <a class="media-item" href="">
                            <div class="media-item__decor" aria-hidden="true" role="presentation">
                                <img class="media-item__image" src="https://source.unsplash.com/aR3u_uvg0BQ/400x279" alt="">
                            </div>
                            <div class="media-item__main">
                                <div class="media-item__filename">HorseFileName.png</div>
                                <p class="media-item__meta">271.3KB</p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </li>
</ul>