<div class="off-canvas-nav" data-module="off-canvas-nav">

    <div class="off-canvas-nav__user">
        <img class="off-canvas-nav__user-avatar img-fluid rounded-circle" src="https://source.unsplash.com/DYBs6Usgtg0/300x300" alt="User avatar">
        <div class="off-canvas-nav__user-body">
            <div class="text--lg font-weight-bold text-dark">James Ford</div>
            <div class="text--sm font-weight-bold">
                <a class="text-secondary-light" href="">View profile</a>
            </div>
        </div>
    </div>

    <nav class="off-canvas-nav__menu" id="menu">
        <ul class="off-canvas-nav__menu-items">
            <li class="off-canvas-nav__menu-item">
                <a class="off-canvas-nav__menu-link" href="#">
                    <div class="off-canvas-nav__menu-link-text off-canvas-nav__menu-link-text--has-bubble">
                        23 Notes
                        <span class="off-canvas-nav__comments-bubble">12</span>
                    </div>
                    <div class="off-canvas-nav__menu-link-meta">23 unread notes</div>
                </a>
            </li>
            <li class="off-canvas-nav__menu-item">
                <a class="off-canvas-nav__menu-link" href="#">
                    <div class="off-canvas-nav__menu-link-text">In Training</div>
                    <div class="off-canvas-nav__menu-link-meta">45 horses in training</div>
                </a>
            </li>
            <li class="off-canvas-nav__menu-item">
                <a class="off-canvas-nav__menu-link" href="#">
                    <div class="off-canvas-nav__menu-link-text">Breeding</div>
                    <div class="off-canvas-nav__menu-link-meta">21 breeding stock</div>
                </a>
            </li>
        </ul>
    </nav>

    <div class="off-canvas-nav__bottom">
        <div class="block-btn-group">
            <a class="btn btn-block btn-primary" href="">Mark all as read</a>
            <a class="btn btn-block btn-white" href="">Sign out</a>
        </div>
    </div>

</div>