<ul class="pagination">
	<li class="pagination__item">
		<a href="#" class="pagination__prev page-link">Prev</a>
	</li>

	<li class="pagination__item active">
		<a href="#" class="pagination__link page-link">1</a>
	</li>

	<li class="pagination__item">
		<a href="#" class="pagination__link page-link">2</a>
	</li>

	<li
		class="pagination__item">
		<a href="#" class="pagination__link page-link">3</a>
	</li>

	<li class="pagination__dots">
		...
	</li>

	<li class="pagination__item">
		<a href="#" class="pagination__link pagination__link--last page-link">19</a>
	</li>

	<li class="pagination__item">
		<a href="#" class="pagination__next page-link">Next</a>
	</li>
</ul>
