{# Twitter Card data #}
<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@">
<meta name="twitter:title" content="Page Title">
<meta name="twitter:description" content="Page description less than 200 characters">
<meta name="twitter:url" content="http://www.example.com/">
<meta name="twitter:image" content="http://www.example.com/image.jpg"> {# 1200 x 630 #}

{# Open Graph data #}
<meta property="og:site_name" content="Website name here">
<meta property="og:type" content="website">
<meta property="og:title" content="Page Title">
<meta property="og:description" content="Page description less than 200 characters">
<meta property="og:url" content="http://www.example.com/">
<meta property="og:image" content="http://example.com/image.jpg"> {# 1200 x 630 #}
<meta property="og:image:width" content="1200">
<meta property="og:image:height" content="630">
