/*-------------------------------------------------*\
    BRAND-SPECIFIC VARIABLES

    Use this file to declare any brand-specific
    variables.
\*-------------------------------------------------*/

// Colors
$primary: #B28D15;
$primary--light: #CCB469;
$secondary: #430023;
$secondary--dark: #170006;
$secondary--light: #68003D;
$panel-bg-image-text-color: #fff;

// Site head
$brand-height: 29px;
$brand-bar-background-color: linear-gradient(0deg, #68003D 0%, #4E0029 100%);
$nav-text-color: #fff;

// Buttons
$btn-border-radius: 8px;

// Forms
$form-control-dark-background-color: #000;
